*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    /* Color Primario */
    --rojo-brillante: rgb(242, 95, 58);
    --azul-oscuro: rgb(35, 44, 81);
    /* Color Neutro */
    --azul-grisáceo-oscuro: rgb(143, 148, 167);
    --azul-muy-oscuro: rgb(29, 30, 37);
    --rojo-salmón: rgb(243, 106, 72);
    --rojo-muy-pálido: rgb(255, 239, 234);
    --variante-gris-claro: rgb(249, 249, 249);
}

/* **************************************** */
/* --------IPHONE SE (MOBILE-FIRST) --------*/
/* **************************************** */

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px; 

}

/* MOBILE------------ HEADER ------------- */

header {
    margin-top: 45px;
}
.navbar {
    display: flex;
    margin: 20px;
    justify-content: space-between;
}
.navbar img{
    width: auto;
    height: 20px;
}
.navbar ul, .navbar button{
    display: none;
}
.illustration {
    position: absolute;
    z-index: -1;
    background-image: url("/img/bg-tablet-pattern.svg");
}   
.illustration.one{
   height: 400px;
   width: 400px;
   top: 0px;
   right: 0px;
   background-size: 100%;
   background-repeat: no-repeat;
   background-position: 85px -70px;
}
.illustration.two{
    height: 400px;
    width: 400px;
    top: 600px;
    right: 0px;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 280px -50px;
}
.container-intro {
    display: flex;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
}
.container-intro img{
    width: 70%;
    height: auto;
}
.text-intro{
    margin: 30px;
    display: flex;
    flex-direction: column;
}
.primary{
    font-size: 36px;
    font-weight: 700;
    color: var(--azul-oscuro);
    text-align: center;
}
.secondary{
    margin: 22px 0px;
    color: var(--azul-grisáceo-oscuro);
    text-align:center;
    line-height: 30px;
}
button{
    align-self: center;
    margin-top: 10px;
    background-color: var(--rojo-brillante);
    color: var(--variante-gris-claro);
    font-weight: 700;
    border-style: none;
    border-radius: 25px;
    box-shadow: 0px 30px 70px -5px var(--rojo-brillante);
    width: 150px;
    height: 50px;
    transition: color 100ms, background-color 1500ms;
}
button:hover{
    color: var(--rojo-brillante);
    background-color: var(--rojo-muy-pálido);
    border: 2px var(--rojo-brillante) solid;
}

/* MOBILE ------------  MAIN ----------------- */

main {
    margin-top: 80px;
}
.main {
    font-size: 28px;
}
section {
    margin-top: 40px;
}
.container-section{
    display: flex;
    position: relative;
    margin-left: 40px;
}
.container-section button{
    font-size: 18px;
    position: absolute;
    left: -50px;
    width: 70px;
    height: 40px;
    box-shadow: none;
    margin: 0px 0px 0px 20px;
}
.section_1{
    font-size: 16px;
    background-color: var(--rojo-muy-pálido);
    width: 100%;
    height: 40px;
    padding-left: 50px;
    padding-top: 8px;
    text-align:start;
}
.section_2{
    font-size: 14px;
    text-align:start;
    margin: 20px;
}
.main-img{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comment {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: var(--variante-gris-claro);
    margin: 60px 20px 0px 20px;
    padding-top: 50px;
}
.comment:nth-child(2), .comment:nth-child(3){
    display: none;
}
.main-img .primary.name{
    margin-top: 20px;
    font-size: 16px;
}
.profile{
    position: absolute;
    top: -80px;
    margin-top: 50px;
    height: 80px;
    width: 80px;
}
.main-img .secondary.name{
    padding: 0 20px;
    font-size: 14px;
}
.points{
    margin: 20px 0px 30px 0px;
    width: 80px;
    height: auto;
}
.main-bottom{
    background-color: var(--rojo-brillante);
    margin-top: 50px;
    width: 100%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    position:relative;
}
.ilustration {
    position:absolute;
    background-color: var(--rojo-salmón);
    border-radius: 175px;
    transform: rotate(-45deg);
    left: -240px;
    top: 80px;
    width: 350px;
    height: 280px;
}
.main-bottom p{
    margin: 100px 30px 00px 30px;
    font-size: 36px;
    font-weight: 700;
    color: var(--variante-gris-claro);
    text-align: center;
    z-index: 2;
}
.reverse{
    margin-top: 20px;
    margin-bottom: 70px;
    color: var(--rojo-brillante);
    background-color: var(--rojo-muy-pálido);
    box-shadow: none;
}

/* MOBILE ------------- FOOTER  ------------ */

footer{
    background-color: var(--azul-muy-oscuro);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-input{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.footer-input input{
    font-weight: 400;
    font-size: 20px;
    border-style: none;
    border-radius: 25px;
    width: 250px;
    height: 50px;
    outline: none;
}
.footer-input input:focus{
    padding-left: 5%;
}
.footer-input input::placeholder{
    text-align: left;
    padding-left: 30px;
    color: var(--azul-grisáceo-oscuro);
}
.footer-input input:focus::placeholder{
    color: white;
}
.footer-input button{
    box-shadow: none;
    width: 80px;
    margin: 0px 0px 0px 10px;
}
.list{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}
.list ul{
    list-style: none;
    font-weight: 400;
    color: var(--variante-gris-claro);
    font-size: 14px;
    line-height: 30px;
}
.list ul li a{
    text-decoration: none;
    color: var(--variante-gris-claro);
    transition: color 1000ms;
}
.list ul li a:hover{
    color: var(--rojo-brillante);
    
}
.images {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}
.images ul{
    display: flex;
    list-style: none;
}
.images ul li img{
    padding: 10px;
    height: 50px;
    width: auto;
}
.footer-logo{
    display: flex;
    justify-content: center;
    margin-top: 45px;
}
.footer-logo img{
    width: 150px;
    height: 25px;
}
.logo-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-copyright p{
    font-size: 12px;
    font-weight: 500;
    color: var(--azul-grisáceo-oscuro);
    margin-top: 45px;
    margin-bottom: 25px;
}

/* ******************************** */
/*--------- DESKTOP STYLE ----------*/
/* ******************************** */

@media(min-width:769px) {

/* DESKTOP------------ HEADER ------------- */

    header{
        margin: 0% 10% 0% 10%;
        padding-top: 30px;
    }
    .navbar{
        justify-content: space-between;
        align-items: center;
        /* margin: 0px 15% 0px 15%;  */
    }
    .navbar img:nth-child(2){
        display: none;
    }
    .navbar ul{
        display: flex;
        list-style: none;
        font-size: 14px;
        color: var(--azul-oscuro);
        gap: 10px;
    }
    .navbar ul li a{
        text-decoration:none;
        color: var(--azul-oscuro);
    }
    .navbar ul li a:hover{
        color: var(--rojo-brillante);
    }
    .navbar button{
        margin: 0px;
        display: inline;
        width: 100px;
        height: 34px;
        font-size: 12px;
    }
    .container-intro{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .container-intro img{
        order: 2;
        width: 40vw;
    }
    .text-intro{
        margin: 0;
        padding-right: 10%;
        padding-left: 2%;
        max-width: 50vw;
    }
    .primary{
        text-align: left;
    }
    .secondary {
        text-align: left;
        padding-right: 20%;
    }
    button {
        margin-top:10%;
        align-self: flex-start;
    }

/* DESKTOP ------------  MAIN ----------------- */

    .main-container {    
        margin: 0% 10% 0% 10%; 
        display: flex;  
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    main .text-intro{
        min-height: 400px;
    }
    .section-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80vw;
    }
    section{
        margin: 0px;
    }
    .illustration.one{
        height: 550px;
        width: 550px;
        background-size: 110%;
    }
    .illustration.two{
        height: 550px;
        width: 550px;
        left: 0px;
        top: 900px;
        background-size: 110%;
        background-position: -300px 40px;
    }
    .main-comments{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .comment:nth-child(2), .comment:nth-child(3){
        display: flex;
    }
    .comment:nth-child(2){
        order: -1;
    }
    
    .secondary.name{
        text-align: center;
    }
    .main-img button{
        margin-top: 2%;
        align-self:center;
    }
    .main-bottom{
        flex-direction: row;
        justify-content: space-around;
    }
    .ilustration {
        left: 10%;
        top: 180px;
        width: 550px;
        height: 280px; 
        animation-name: inflate;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
    .main-bottom p{
        max-width: 500px;
        text-align: left;
    }

/* DESKTOP ------------- FOOTER  ------------ */

    footer{
        position: relative;
        min-height: 300px;
    }
    .footer-logo{
        position: absolute;
        top: 0;
        left: 6%;
    }
    .footer-logo img{
        width: 15vw;
        height: auto;
    }
    .list{
        position: absolute;
        width: 30vw;
        right: 40%;
        top: 0;
    }
    .list ul li{
       padding: 12px;
    }
    .footer-input{
        position: absolute;
        top: 0;
        right: 3%;
        width: 30vw;
    }
   .images{
        position: absolute;
        top: 50%;
        left: 5%;
   }
   .images ul li img{
        height: 4vw;
   }
 
    .images ul li img:hover{
        animation-name: spin;
        animation-duration: 4s;
        border-radius: 40%;
    }
    #Fb-logo img:hover{
        background-color: rgb(66 103 178);
    }
    #Ytb-logo img:hover{
        background-color: rgb(255 0 0);
    }
    #Twtt-logo img:hover{
        background-color: rgb(29 161 242);
    }
    #Pnt-logo img:hover{
        background-color: rgb(230 0 35);
    }
    #Int-logo img:hover{
        background: linear-gradient(45deg, #FFDC80, #FCAF45, #F77737, #F56040, #FD1D1D, #E1306C, #C13584, #833AB4, #5B51D8, #405DE6);
    }
   .logo-copyright{
        position: absolute;
        top: 50%;
        right: 5%;
   }
   .reverse{
    z-index: 1;
   }
   
    @keyframes inflate {
        10% {transform: scale(150%)}
        50% {transform:rotate(45deg)}
    }
    @keyframes spin {
        20% {transform: scale(50%);}
        40% {transform: rotate(180deg);}
        60% {transform: scale(150%);}
        }
}
